streamlit
fastapi
uvicorn
pyyaml
langchain
langchain-core
langchain-community
langchain-chroma
langchain-ollama
langchain-mcp-adapters
langgraph
chromadb
pypdf
python-dotenv
mcp
sqlalchemy
pymysql
requests
docx2txt
unstructured
openpyxl
xlrd
python-pptx
